.menu {
  display: flex;
  width: 100%;
  align-items: center;
  font-family: 'Anton', sans-serif;
}

.menu__item {
  flex-grow: 0.05;
}

/* 
  This applies the margin-left to every 
  item after the first instace
*/
.menu__item + .menu__item {
  margin-left: 1%;
  margin-bottom: 3.5px;
}

.menu__link {
  color: lightgrey;
  text-decoration: none;  
  text-transform: capitalize;  
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.menu__link:hover {
  color: white;
  transition: 0.2s;
}