.home {
  height: 100vh;
}

.stickers-list__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.stickers-list__link {
  text-decoration: none;
  color: grey;
  text-transform: capitalize;
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.5px;
}

.stickers__item {
  max-height: 100px;
  max-width: 100px;
}


.gifs__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}