.container {
  height: auto;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.list__item {
  max-height: 200px;
  width: auto;
  margin: 10px;
}